@font-face {
    font-family: TrebuchetMS;
    src: url(../font/TrebuchetMS.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
  }
  
  @font-face {
    font-family: TrebuchetMS;
    src: url(../font/TrebuchetMS-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
  }