@import './_font';

*, *::after, *::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    font-family: "TrebuchetMS",Helvetica,Arial,sans-serif;
    font-weight: 400;
    color: #333333;
  }

  .bodyStopScroll {
    overflow: hidden;
    height: 100vh;
  }
       
  ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    color: inherit;
    text-decoration: none;
  }
  
  p {
    margin: 0;
  }
  button {
    outline: none;
    border: none;
  }
  
  input, textarea, select, button {
    border: none;
    outline: none;
  }
  .container {
    width: auto;
  }
  .container {
    max-width: 1500px;
    padding: 0 20px;
  }

  .d-flex {
    display: flex;
  }
  .d-none {
    display: none;
  }
  .justify-between {
    justify-content: space-between;
  }
  .justify-cenetr {
    justify-content: center;
  }
  .justify-end {
    justify-content: end;
  }
  .items-center {
    align-items: center;
  }
  .flex-column {
    flex-direction: column;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }

  .title__text {
    font-size: 26px;
    font-weight: 700;
    color: #242424;
  }


  .header {
    padding: 20px 0;

    &-top-logo {
      display: none;
    }
    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      
    .menu-burger {
      min-width: 50px;
      min-height: 50px;
      border-radius: 5px;
      background: transparent;
      border: 1px solid rgba(51, 122, 183, .5);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px 5px;
      margin-right: 20px;
      span {
        display: block;
        width: 100%;
        height: 5px;
        border-radius: 2px;
        background: #2e6da4;
      }
      &:hover {
        border-color: rgb(51, 122, 183);
      }
    }
    }

    &-search {
      position: relative;
      width: 40%;
      .search-head {
        width: 100%;
        height: 50px;
        position: relative;
        svg {
          position: absolute;
          top: 50%;
          transform: translateY(-50%) rotate(-10deg);
          left: 10px;
          fill: #868695;
        }
        .search__inp {
          width: 100%;
          height: 100%; 
          border: 1px solid #888;
          border-radius: 30px;
          padding: 0 10px 0 40px;
          font-size: 18px;
          &:focus {
            border-color: rgb(51, 122, 183);
          }
          &::placeholder {
            color: #888;
          }
        }
        .search:focus ~ svg {
          fill: #2e6da4;
        }
      }
      .search-result {
        width: 100%;
        max-height: 400px;
        background: #fff;
        box-shadow: 0px 5px 10px 6px rgba(45, 55, 72, 0.2);
        border-radius: 8px;
        margin-top: 10px;
        overflow-y: scroll;
        padding: 15px 5px;
        position: absolute;
        top: 100%;
        z-index: 40;
        &::-webkit-scrollbar {
            width: 6px;
            border-radius: 5px;
          }
          &::-webkit-scrollbar-track {
            background: transparent; 
          }
          &::-webkit-scrollbar-thumb {
            background: #718096; 
            border-radius: 5px;
          }
          &::-webkit-scrollbar-thumb:hover {
            background: #555; 
          }
        &__text {
            font-weight: 500;
            font-size: 14px;
            color: #718096;
            width: 100%;
            height: 40px;
            background-color: #fff;
            position: relative;
            z-index: 5;
        }
        .noResults {
            position: absolute;
            left: 32px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .search-item,
    .search-goods {
        position: relative;
        width: 100%;
        height: auto;
        background-color: #fff;
        z-index: 5;
        li {
            align-items: center;
            position: relative;
            height: 30px;
            &::before {
              content: url(../img/svg/search2.svg);
              transform: rotate(-15deg);
              position: absolute;
              left: 5px;
              top: 50%;
              transform: translateY(-50%);
              z-index: 1;
            }
            a {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              position: absolute;
              left: 0;
              top: 0;
              padding-left: 25px;
              border-radius: 5px;
              color: #242424;
              &:hover {
                text-decoration: none;
                background: #f5f5f5;
              }
            }
        }
        &__text {
            font-size: 14px;
            font-weight: 400;
            color: #2D3748 !important;
            margin-bottom: 10px;
        }
    }
    .search-item li {
      display: none;
    }
    .mark {
      font-weight: 700;
      background: transparent;
      padding: 0;
      margin: 0;
    }
    .hideResult {
        display: flex !important;
    }
    .search__close {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 85%;
      background: transparent;
      display: none;
      svg {
        path {
          fill: #555;
        }
      }
    }

    }

    &-login {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      margin-right: 40px;
      color: #868695;
      svg {
        path {
          fill: #868695;
        }
      }
      &:hover {
        text-decoration: none;
        color: #2e6da4;
        svg {
          path {
            fill: #2e6da4;
          }
        }
      }
    }
    &-basket {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      justify-content: space-between;
      height: 50px;
      color: #868695;
      svg {
        path {
          stroke: #868695;
        }
        circle {
          fill: #868695;
        }
      }

      .count_basket {
        position: absolute;
        top: -3px;
        right: 0px;
        background: #2e6da4;
        color: #fff;
        font-size: 14px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        line-height: 12px;
      }
      &:hover {
        text-decoration: none;
        color: #2e6da4;
        svg {
          path {
            stroke: #2e6da4;
          }
          circle {
            fill: #2e6da4;
          }
        }
      }
    }
    .search__btn {
      background: transparent;
      display: none;
      svg {
        path {
          fill: #868695;
        }
      }
    }
  }

  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background: #0009;
    &__close {
      position: absolute;
      top: 10px;
      left: 800px;
      background: transparent;
      svg path {
        fill: #fff;
      }
      &:hover {
      svg path {
        fill: #fff6;
      }
      }
    }
    &-wrapper {
      width: 250px;
      height: 100vh;
      background: #fff;
      position: absolute;
      left: 0;
      top: 0;
      animation: animMenu .5s linear;
      .logo {
        display: none;
      }
      &-item {
        padding: 20px 0;
        position: relative;
        padding-left: 20px;
      }
      &__list {
        padding: 5px 10px;
        border-radius: 5px;
        transition: .3s all;
        margin-bottom: 10px;
        &-link {
          font-size: 16px;
          color: #242424;
          display: flex;
          width: 100%;
          &:hover {
            text-decoration: none;
          }
        }
        .info-box {
          position: absolute;
          left: 100%;
          top: 0;
          background: #fff;
          padding: 20px;
          display: none;
          height: 100vh;
          padding-left: 20px;
          z-index: 5;
          .list-info {
            width: 250px;
            height: 100%;
            padding-left: 20px;
            padding-right: 10px;
            border-left: 1px solid #868695;
            overflow-y: scroll;
            &::-webkit-scrollbar {
              width: 4px;
            }
            &::-webkit-scrollbar-track {
              background: transparent; 
            }
            &::-webkit-scrollbar-thumb {
              background: #888; 
            }
            &__title {
              font-size: 18px;
              font-weight: 700;
              color: #242424;
              margin-bottom: 10px;
            }
            &__list {
              margin-bottom: 5px;
              a {
                color: #868695;
                font-size: 16px;
                &:hover {
                  text-decoration: none;
                  color: #2e6da4;
                  border-bottom: 1px solid #2e6da4;
                }
              }
            }
          }
          .info-box-photo {
            width: 250px;
            height: 100%;
            .photo-box {
              text-align: center;
              .phohto {
                border: 1px solid #868695;
                border-radius: 10px;
                overflow: hidden;
                position: relative;
                img {
                  width: 100%;
                  object-fit: contain;
                  transition: .3s all;
                }
                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    transition: .3s all;
                    z-index: 1;
                }
              }
              .photo-box__text {
                display: block;
                margin-top: 10px;
                font-size: 18px;
                font-weight: 700;
                color: #242424;
              }
              &:hover {
                text-decoration: none;
                .phohto img {
                    transform: scale(1.05);
                }
              .phohto::before {
                  background: #0003;
              }
              .photo-box__text {
                color: #2e6da4;
              }
              }
            }
          }
        }
      }
    }
    .showMob {
      svg {
        display: none;
        fill: #868695;
      }
    }
  }
  .menu-wrapper__list:first-child  {
    background: #2e6da4;
    .menu-wrapper__list-link {
      color: #fff;
    }
    .info-box {
      display: flex;
      z-index: 2;
    }
  }
  .menu-wrapper__list {
    &:first-child {
      background: transparent;
      .menu-wrapper__list-link {
        color: #242424;
      }
    }
    &:hover  {
      background: #2e6da4;
      .menu-wrapper__list-link {
        color: #fff;
      }
      .info-box {
        display: flex;
      }
    }
  }

  @keyframes animMenu {
    from {
      left: -100%;
    } to {
      left: 0;
    }
  }

  .main {
    padding: 20px 0 50px;

    // main-banner
    &-banner {
        .swiper-wrapper {
            height: auto;
        }
        .swiper-slide {
            height: auto;
        }
        &__link {
            height: 375px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            overflow: hidden;
            position: relative;
            border: none;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                transition: .3s all;
            }
            &:hover::before {
                background: #0003;
            }
        }
        .banner-btns {
            .btn {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: #fff9;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 10;
                outline: none;
                &:hover {
                    background: #337ab7;
                    svg path {
                        fill: #fff;
                    }
                }
            }
            .prev {
                left: 2%;
            }
            .next {
                right: 2%;
            }
        }
        .banner-pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }
        .swiper-pagination-bullet {
            background: #337ab7;
        }
        .swiper-pagination-bullet-active {
            width: 14px;
            height: 14px;
        }
    }

    // main-head
    &-head {
        margin-top: 20px;
        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 23.5%;
            height: auto;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            margin-top: 30px;
            &__img {
                width: 100%;
                object-fit: contain;
                object-position: center;
                transition: .3s all;
                border-radius: 10px;
            }
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                transition: .3s all;
                z-index: 1;
            }
            &:hover {
                .main-head-item__img {
                    transform: scale(1.05);
                }
            }
            &:hover::before {
                background: #0003;
            }
        }
    }

    // main-hits {
    &-hits {
      margin-top: 50px;
    }
    
      .product-card {
        width: 14.285%;
        height: 340px;
        display: flex;
        flex-direction: column;
        color: #242424;
        text-decoration: none;
        position: relative;
        background: #fff;
        margin-bottom: 20px;
        padding: 10px 15px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        &__link {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 3;
        }
        &-head {
            width: 100%;
            height: 190px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;   
            position: relative;
            border-radius: 10px;
            background-color: #f6f6f9;
            img {
                width: 100%;
                object-fit: contain;
                display: none;
                border-radius: 10px;
                &:first-child {
                    display: block;
                }
            }
            .heart {
              position: absolute;
              top: 10px;
              right: 10px;
              background: transparent;
              z-index: 5;
              display: none;
              svg {
                path {
                  fill: #fff8;
                stroke: #000;
                }
              }
              &:hover {
                svg path {
                  stroke: #337ab7;
                  fill: #337ab7;
                }
              }
            }
        }

        &-body {
          position: relative;
          padding-top: 10px;
          .product-price {
            display: flex;
            align-items: center;
            .active {
              font-size: 18px;
              font-weight: 700;
              margin-right: 8px;
            }
            del {
              color: #868695;
              font-size: 14px;
            }
          }
          .product-brand {
              font-size: 14px;
              line-height: 18px;
              max-width: 100%;
              color: #868695;
              overflow-wrap: break-word;
              overflow: hidden;
              text-overflow: ellipsis;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              display: -webkit-box;
              margin: 5px 0 8px 0;
            &__name {
              color: #242424;
            }
          }
          .product-rating {
            display: flex;
            align-items: center;
            font-size: 14px;
            color: #868695;
            .star {
              width: 18px;
              fill: orange;
              margin-top: -5px;
            }
            &__active {
              margin: 0 12px 0 2px;
              position: relative;
              color: #242424;
              &::before {
                content: '';
                position: absolute;
                right: -9px;
                top: 50%;
                transform: translateY(-50%);
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: #868695;
              }
            }
          }

          .product-delivery {
            margin-top: 8px;
            color: #868695;
            font-size: 13px;
            span {
              color: #242424;
            }
          }
          .product-order {
            display: none !important;
          }
        }
        .product-order {
          display: flex;
          position: absolute;
          top: 99%;
          width: 100%;
          left: 0;
          box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
          padding: 10px 5px;
          display: none;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          background: #fff;
        }
        .product-add-basket {
          width: 100%;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #337ab7;
          color: #fff;
          border-radius: 10px;
          &:hover {
            text-decoration: none;
            background: #2e6da4;
          }
        }
        &:hover {
          text-decoration: none;
          z-index: 20;
          box-shadow: 0px -5px 8px 0px rgba(34, 60, 80, 0.2);
          .product-order {
            display: flex;
          }
          .heart {
            display: block;
          }
          .product-brand {
            -webkit-line-clamp: 2;
          }
        }
    }
    .btn-show-more {
      width: 220px;
      height: 40px;
      border-radius: 5px;
      border: 2px solid #337ab7;
      color: #2e6da4;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
      &:hover {
        background: #2e6da4;
        color: #fff;
      }
    }

    &-goods {
      margin-top: 50px;
    }


    &-seo {
      margin-top: 50px;
      .title__text {
        margin-bottom: 20px;
      }
      &-item {
        position: relative;
        p {
          margin: 0 0 20px;
          font-size: 16px;
          line-height: 22px;
          color: #868695;
          display: none;
          &:first-child {
            display: flex;
          }
        }
        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 35px;
          background: linear-gradient(rgba(255,255,255,0),#fff);
          bottom: 0;
          left: 0;
          z-index: 5;
        }
      }
      .show-seo {
        p {
          display: flex;
        }
        &::before {
          display: none;
        }
      }
      &__show-btn {
        background: transparent;
        border-bottom: 1px dashed rgba(51, 122, 183, .5);
        color: #337ab7;
        font-weight: 700;
        font-size: 16px;
        &:hover {
          border-color: rgb(51, 122, 183);
        }
      }
    }

  }

  .footer {
    background-color: #f5f5f5;
    padding: 30px 0;
    &-box {
      width: 25%;
      display: flex;
      justify-content: end;
      &:first-child {
        justify-content: start;
      }
    }
    &__list {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 15px;
      &:first-child {
        color: #2e6da4;
        font-weight: 700;
      }
      a {
        color: #337ab7;
        &:hover {
          color: #2e6da4;
          // border-bottom: 1px solid #2e6da4;
        }
      }
    }
    .footer__copyrights {
      text-align: center;
      margin-top: 20px;
      font-size: 14px;
      line-height: 18px;
    }
  }



  // Start product styles
  .main {
    .product {
      &-title {
        font-size: 26px;
        line-height: 32px;
        font-weight: 700;
      }
      .product-box {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .swiper-wrapper {
          height: 500px;
        }
        .product-phohtos {
          width: 40%;
          display: flex;
          justify-content: space-between;
          align-items: start;
          flex-direction: row-reverse;
          .big-card {
            width: 80%;
            border: 2px solid #f5f5f5;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            .product__photo {
              width: 100%;
              height: 100%;
              object-fit: contain;
              object-position: center;
            }
            .big-card-next,
            .big-card-prev {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              z-index: 100;
              width: 50px;
              height: 50px;
              border-radius: 50%;
              background: #fff5;
              display: flex;
              align-items: center;
              justify-content: center;
              z-index: 10;
              outline: none;
              
              svg path {
                fill: #2D3748;
            }
              &:hover {
                  svg path {
                      fill: #337ab7;
                  }
              }
            }
            .big-card-next {
              right: 10px;
            }
            .big-card-prev {
              left: 10px;
            }
            .similar-product {
              display: flex;
              align-items: center;
              justify-content: center;
              color: #2D3748;
              font-weight: 700;
              background: #fff5;
              position: absolute;
              bottom: 10px;
              right: 10px;
              z-index: 50;
              font-size: 16px;
              border-radius: 5px;
              padding: 5px;
              svg {
                margin-right: 3px;
                path {
                  fill: #2D3748;
                }
              }
              &:hover {
                background: #f5f5f5;
              }
            }
          }
          .small-card {
            width: 100px;
            height: auto;
            padding: 5px 0;
            .small-card__img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              border-radius: 10px;
              border: 1px solid #868695;
            }
            .swiper-slide {
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 10px;
            }
            .swiper-slide-active {
             .small-card__img {
              border: 3px solid #2e6da4;
             }
          }
          }
        }

        .product-info {
          width: 35%;
          .collapsable {
            font-size: 16px;
            color: #242424;
            span:first-child {
              color: #868695;
            }
          }

          .product-color-box {
            margin-top: 10px;
            .product-color__title {
              font-size: 16px;
              color: #242424;
              span:first-child {
                color: #868695;
              }
            }

            .product-color-item {
              margin-top: 10px;
              display: flex;
              li {
                position: relative;
                .product-card {
                  position: absolute;
                  top: 120%;
                  width: 150px;
                  height: auto;
                  box-shadow: none;
                  border: 1px solid #868695;
                  background: #fff;
                  border-radius: 10px;
                  left: 0;
                  display: none;
                  z-index: 10;
                  &-head {
                    height: 120px;
                  }
                  .product-price {
                    flex-direction: column;
                    align-items: start;
                  }
                  &::before {
                    content: '';
                    position: absolute;
                    top: -8px;
                    left: 25px;
                    width: 15px;
                    height: 15px;
                    background: #fff;
                    transform: rotate(45deg);
                    border-top-left-radius: 5px;
                    border-left: 1px solid #868695;
                    border-top: 1px solid #868695;
                  }
                }
                &:hover {
                  .product-card {
                    display: block;
                  }
                }
              }
              .product-color__link {
                width: 70px;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                overflow: hidden;
                border: 1px solid #868695;
                padding: 10px;
                margin-right: 5px;
                img {
                  height: 100%;
                  
                }
              }
              .active_color {
                border: 3px solid #2e6da4;
              }
            }
          }

          .characteristics-box {
            color: #333333;
            margin-top: 20px;
            .characteristics__title {
              font-size: 18px;
              line-height: 24px;
              font-weight: 700;
            }
            .characteristics {
              max-height: 125px;
              overflow: hidden;
              transition: .3s all;
              li {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 15px;
                margin-top: 10px;
                span {
                  position: relative;
                  z-index: 1;
                  background: #fff;
                  &:first-child {
                    padding-right: 10px;
                    color: #868695;
                  }
                  &:last-child {
                    padding-left: 10px;
                  }
                }
                &::before {
                  content: '';
                  position: absolute;
                  left: 0;
                  bottom: 5px;
                  width: 100%;
                  height: 1px;
                  border-bottom: 1px dashed #868695;
                }
              }
              &__btn {
                font-size: 16px;
                color: #333333;
                border-bottom: 1px dashed #333333;
                margin-top: 10px;
                background: #fff;
                display: inline-block;
                &:hover {
                  color: #2e6da4;
                  border-bottom: 1px dashed #2e6da4;
                }
              }
            }
            .allCharacteristics {
              max-height: 1000px;
            }
          }
          .product-basket {
            margin-top: 25px;
            display: flex;
            justify-content: space-between;
            .basket__add,
            .buy__product {
              width: 48%;
              height: 56px;
              border-radius: 5px;
              font-size: 16px;
              font-weight: 700;
            }
            .basket__add {
              border: 2px solid #337ab7;
              color: #337ab7;
              background: #fff;
              &:hover {
                border: 2px solid #2e6da4;
                color: #2e6da4;
              }
            }
            .buy__product {
              color: #fff;
              background: #337ab7;
              &:hover {
                background: #2e6da4;
              }
            }
          }
        }

        .product-size {
          margin-top: 15px;
          &__title {
            font-size: 16px;
            font-weight: 700;
          }
          &-item {
            display: flex;
          }
          &-list {
            position: relative;
            margin-top: 5px;
            width: auto;
            height: auto;
            margin-right: 5px;
            .size {
              width: 45px;
              height: 45px;
              border-radius: 5px;
              display: flex;
              align-items: center;
              flex-direction: column;
              justify-content: center;
              border: 1px solid #c8c5c5;
              cursor: pointer;
            span {
              font-size: 15px;
              color: #242424;
              &:last-child {
                font-size: 12px;
                color: #868695;
                margin-top: -3px;
              }
            }
            &:hover {
              border: 3px solid #2e6da4;
            }
            }
            .size-info {
              position: absolute;
              top: 120%;
              left: 50%;
              transform: translateX(-50%);
              width: 250px;
              height: 100px;
              border-radius: 10px;
              z-index: 5;
              background: #fff;
              border: 1px solid #868695;
              padding: 10px;
              font-size: 16px;
              color: #868695;
              flex-direction: column;
              justify-content: space-between;
              display: none;
              .delivery {
                font-weight: 700;
                color: #2D3748;
              }
              &::before {
                content: '';
                position: absolute;
                top: -8px;
                left: 50%;
                width: 15px;
                height: 15px;
                background: #fff;
                transform: translateX(-50%) rotate(45deg);
                border-top-left-radius: 5px;
                border-left: 1px solid #868695;
                border-top: 1px solid #868695;
              }
            }
            &:hover .size-info {
              display: flex;
            }
            .activeSize {
              border: 3px solid #2e6da4;
            }
          }
        }

        .product-description {
          width: 20%;
          color: #242424;
          font-size: 15px;
          &__title {
            font-weight: 700;
            margin-bottom: 10px;
          }
        }
      }
    }
    .related-products {
      margin-top: 80px;
    }
  }


  .basket {
    padding: 50px 0;
    &-form {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .basket-item {
        width: 72%;
        .basket-box {
          padding: 20px;
          border-radius: 20px;
          box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
          margin-bottom: 25px;
          .basket-head {
            &-btns {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-top: 15px;
            }
            .hideBtns {
              display: none;
            }
            &-title {
              position: relative;
              display: inline-block;
              &__text {
                font-size: 24px;
                font-weight: 700;
                color: #2D3748;
                margin: 0;
              }
              .basket-count {
                position: absolute;
                top: -5px;
                right: -15px;
                font-size: 16px;
                font-weight: 700;
              }
            }
            .basket-hide__btn {
              background: transparent;
              svg g {
                fill: #c8c5c5;
              }
              &:hover {
                svg g {
                  fill: #2e6da4;
                }
              }
            }
            .product-price {
              display: flex;
              align-items: center;
              font-size: 16px;
            }
          }
          .point {
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: #2D3748;
            margin: 0 8px;
          }

          .basket-body {
            max-height: 0;
            overflow: hidden;
            transition: .3s all;
            .basket-product {
              margin-top: 25px;
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
            }
            .basket-product-info {
              width: 60%;
              display: flex;
              align-items: start;
              font-size: 16px;
              color: #868695;
              .product__img {
                width: 100px;
                object-fit: contain;
                border-radius: 10px;
                border: 1px solid #c8c5c5;
                margin-right: 15px;
              }
              .product__name {
                font-size: 16px;
                color: #2D3748;
                margin-bottom: 3px;
              }
              .product__text {
                margin-top: 3px;
              }
            }
            &-middle {
              width: 40%;
              display: flex;
              justify-content: space-between;
            }
            .product-count {
              display: flex;
              .count__plus,
              .count__minus {
                width: 40px;
                height: 40px;
                border-radius: 5px;
                font-size: 24px;
                &:hover {
                  background: #c8c5c5;
                }
              }
              .count__inp {
                width: 40px;
                height: 40px;
                text-align: center;
                font-size: 18px;
              }
            }
            .last-box {
              text-align: right;
              position: relative;
              .delete__product {
                position: absolute;
                bottom: 0;
                right: 0;
                background: transparent;
                display: none;
                svg path {
                  stroke: #c8c5c5;
                }
                &:hover {
                  svg path {
                    stroke: #868695;
                  }
                }
              }
            }
            .basket-product:hover .delete__product {
              display: block;
            }
            
            .all__price {
              font-size: 20px;
              font-weight: 700;
              color: #2D3748;
            }
            .old__price {
              font-size: 16px;
              color: #c8c5c5;
            }
          }
        }

        
        .mobile-price {
          display: none;
        }

        .payment-method,
        .my-details {
          width: 49%;
          padding: 20px;
          border-radius: 20px;
          box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);

          .title__text {
            font-size: 24px;
            font-weight: 700;
            color: #2D3748;
          }
          .info__text {
            font-size: 18px;
            margin-top: 5px;
            .link {
              color: #337ab7;
            }
          }
        }


        .showBasket {
          .basket-head {
            .product-price {
              display: none;
            }
            .basket-hide__btn {
              transform: rotate(180deg);
            }
          }
          .basket-body {
            max-height: 5000px;
          }
        }
      }
      .basket-sidebar {
        width: 25%;
      }
      .order-box {
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
        position: sticky;
        top: 20px;
        .products {
          display: flex;
          justify-content: space-between;
          font-size: 18px;
          color: #868695;
        }
        .total {
          font-size: 32px;
          font-weight: 700;
          color: #2D3748;
          display: flex;
          justify-content: space-between;
          margin: 15px 0 20px;
        }
        .order__btn {
          width: 100%;
          height: 60px;
          border-radius: 10px;
          background: #337ab7;
          color: #fff;
          font-size: 20px;
          font-weight: 700;
          &:hover {
            background: #2e6da4;
          }
        }
      }
    }

    .empty {
      width: 100%;
      padding: 30px 20px;
      border-radius: 20px;
      box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      color: #2D3748;
      display: none;
      &__title {
        font-size: 24px;
        font-weight: 700;
      }
      &__text {
        font-size: 16px;
        color: #868695;
        margin: 15px 0 20px;
      }
      .backToHome {
        width: 280px;
        height: 56px;
        border-radius: 15px;
        background: #337ab7;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          background: #2e6da4;
        }
      }
    }
    .emptyHide {
      display: flex;
    }
  }


  // Start Login page

  .main {
    .login {
      &-form {
        width: 450px;
        height: auto;
        padding: 30px;
        border-radius: 30px;
        box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
        color: #242424;
        .login__title {
          font-size: 26px;
          line-height: 32px;
          font-weight: 700;
          text-align: center;
        }
        .input-box {
          position: relative;
          margin: 25px 0;
          small {
            color: tomato;
            font-size: 16px;
            margin-top: 5px;
            display: inline-block;
          }
        }
        .input--tel {
          width: 100%;
          height: 56px;
          border-radius: 10px;
          background: #f5f5f5;
          padding: 0 25px;
          font-size: 18px;
          border: 2px solid #f5f5f5;
          &:focus {
            border: 2px solid #337ab7;
            background: #fff;
          }
        }
        
        &__btn {
          width: 100%;
          height: 56px;
          border-radius: 10px;
          background: #337ab7;
          color: #fff;
          font-size: 18px;
          font-weight: 700;
          &:hover {
            background: #2e6da4;
          }
        }
        .error {
          .login-form__inp {
            border: 2px solid tomato;
          }
        }

        &-label {
          display: flex;
          align-items: center;
          font-size: 16px;
          margin: 25px 0;
          font-weight: 400;
          cursor: pointer;
        }
        &__check {
          appearance: none;
          width: 26px;
          height: 26px;
          border-radius: 5px;
          position: relative;
          background: #f5f5f5;
          border: 1px solid #f5f5f5;
          outline: none !important;
          margin-right: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          &::before {
            content: url(../img/svg/check-svgrepo-com.svg);
            display: none;
          }
          &:hover {
          border: 1px solid #868695;
          outline: none;
          }
          &:checked {
            background: #337ab7;
            border: 1px solid #337ab7;
            outline: none;
          }
          &:checked::before {
            display: block;
          }
        }

        .agree-box {
          display: flex;
          align-items: flex-start;
          svg {
            margin-top: -8px;
            margin-right: 5px;
          }
          &__text {
            font-size: 16px;
            color: #868695;
          }
          .agree__link {
            color: #242424;
            &:hover {
              color: #2e6da4;
            }
          }
        }
      }
    }
  }


  @import './_media'
  